body {
  background: #E3E5E2;
  color: white;
  font-size: 11px;
}

.main {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.button-container {
  background: linear-gradient(#F2F2F0, #AFB4B8);
  height: 320px;
  width: 320px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sub-buttons {
  background: transparent;
  height: 180px;
  width: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  [class^="icon-"], [class*=" icon-"] {
    position: absolute;
    color: #9E9DA3;
    font-size: 24px;
    z-index: 20;
  }

  .icon-cog {
    bottom: -38px;
  }

  .icon-volume-up {
    top: -35px;
  }

  .icon-backward {
    left: -36px;
  }

  .icon-fast_forward {
    right: -36px;
  }
}

#a, #b, #c, #d {
  height: 130px;
  width: 130px;
  overflow: hidden;
  position: absolute;
}

#a {
  transform: rotate(45deg);
  top: -10px;
}

#b {
  transform: rotate(135deg);
  right: -10px;
}

#c {
  transform: rotate(225deg);
  bottom: -10px;
}

#d {
  transform: rotate(315deg);
  left: -10px;
}

#a1, #b1, #c1, #d1 {
  height: 150px;
  width: 150px;
  border: 52px solid;
  border-radius: 50%;
}

#a1 {
  border-color: #FAFAFA;
}

#b1 {
  border-color: #CCD1D4;
}

#c1 {
  border-color: #BBC0C3;
}

#d1 {
  border-color: #D4D8D9;
}

.play-button {
  height: 150px;
  width: 150px;
  background: linear-gradient(#D9DBDA, #E3E3E3);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.play-icon {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 0 15px 15px;
  border-color: transparent transparent transparent #9E9DA3;
}

