@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?apajf3');
  src:  url('fonts/icomoon.eot?apajf3#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?apajf3') format('truetype'),
    url('fonts/icomoon.woff?apajf3') format('woff'),
    url('fonts/icomoon.svg?apajf3#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cog:before {
  content: "\e900";
}
.icon-volume-up:before {
  content: "\e901";
}
.icon-backward:before {
  content: "\e902";
}
.icon-fast_forward:before {
  content: "\e903";
}
